// @charset "UTF-8";
// /* CSS Document */

// /* Reset
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed, 
// figure, figcaption, footer, header, hgroup, 
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   font-size: 100%;
//   font: inherit;
//   vertical-align: baseline;
// }
// /* HTML5 display-role reset for older browsers */
// article, aside, details, figcaption, figure, 
// footer, header, hgroup, menu, nav, section {
//   display: block;
// }

// /* Colors
// Darker Grey: 202224;
// Dark Grey: 282b2d;
// Medium Grey: 999999;
// Light Grey: e2e5e6;
// Orange: ff2f2f;
// Pink: fc1651;
// */

// /*
// @media (min-width: 50px) {}
// @media (min-width: 800px) {}
// @media (min-width: 1200px) {}
// */

// /* CONTENTS
// 1. Universal
// 2. Fonts

// */

// @font-face{font-family:'Conv_Geomanist-ExtraLight';src:url('fonts/Geomanist-ExtraLight.eot');src:local('☺'), url('fonts/Geomanist-ExtraLight.woff') format('woff'), url('fonts/Geomanist-ExtraLight.ttf') format('truetype'), url('fonts/Geomanist-ExtraLight.svg') format('svg');font-weight:normal;font-style:normal;}
// @font-face{font-family:'Conv_Geomanist-Light';src:url('fonts/Geomanist-Light.eot');src:local('☺'), url('fonts/Geomanist-Light.woff') format('woff'), url('fonts/Geomanist-Light.ttf') format('truetype'), url('fonts/Geomanist-Light.svg') format('svg');font-weight:normal;font-style:normal;}
// @font-face{font-family:'Conv_Geomanist-Regular';src:url('fonts/Geomanist-Regular.eot');src:local('☺'), url('fonts/Geomanist-Regular.woff') format('woff'), url('fonts/Geomanist-Regular.ttf') format('truetype'), url('fonts/Geomanist-Regular.svg') format('svg');font-weight:normal;font-style:normal;}
// @font-face{font-family:'Conv_Geomanist-Medium';src:url('fonts/Geomanist-Medium.eot');src:local('☺'), url('fonts/Geomanist-Medium.woff') format('woff'), url('fonts/Geomanist-Medium.ttf') format('truetype'), url('fonts/Geomanist-Medium.svg') format('svg');font-weight:normal;font-style:normal;}
// @font-face{font-family:'Conv_Geomanist-Bold';src:url('fonts/Geomanist-Bold.eot');src:local('☺'), url('fonts/Geomanist-Bold.woff') format('woff'), url('fonts/Geomanist-Bold.ttf') format('truetype'), url('fonts/Geomanist-Bold.svg') format('svg');font-weight:normal;font-style:normal;}





// /* 1. Universal
// –––––––––––––––––––––––––––––––––––––––––––––––––– */
// html {
//   font-size: 62.5%;
// }

// body {
//   font-size: 1.5em;
//   line-height: 1.6;
//   font-weight: 400;
//   font-family: 'Conv_Geomanist-Regular', Helvetica, sans-serif;
//   background: #000000;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// @media (min-width: 50px) {

// .row {
//   padding: 100px 10% 100px 10%;
//   clear: both;
//   display: inline-block;
//   width: 80%;
// }

// .rowfull {
//   padding: 50px 0 50px 0;
//   clear: both;
//   display: inline-block;
// }

// .columns {
//   margin-bottom: 8rem;
//   display: inline-block;
//   width: 100%;
// }

// .column-full {
//   width: 100%
// }

// .column-half:first-child {
//   float: none;
//   margin-right: 0;
//   width: 100%;
//   margin-bottom:8rem;
// }

// .column-half {
//   float: none;
//   width: 100%;
// }

// .column-twothird {
//   float: none;
//   margin-right: 0;
// }

// .column-onethird {
//     float: none;
//     width: 100%;
//     margin-right: 0;
//     margin-bottom:8rem;
// }

// .column-onethird:last-child {
//     float: none;
//     width: 100%;
//     margin-right: 0;
//     margin-bottom:0;
// }

// .column-onefourth:last-child {
//   float: none;
//     width: 100%;
//     margin-right: 0;
// }

// .column-onefourth {
//   float: none;
//   width: 100%;
//   margin-right: 0;
// }
// }

// @media (min-width: 800px) {

// .row {
//   padding: 100px 8% 100px 8%;
//   clear: both;
//   display: inline-block;
//   width: 100%;
// }

// .rowfull {
//   padding: 50px 0 50px 0;
//   clear: both;
//   display: inline-block;
// }

// .column-full {
//   clear: both;
//   width: 100%
// }

// .column-half:first-child {
//   float: left;
//   margin-right: 10%;
//   width: 45%;
//   margin-bottom:0;
// }

// .column-half {
//   float: left;
//   width: 45%;
// }

// .column-twothird {
//   float: left;
//   margin-right: 2%;
//   width: 70%;
// }

// .column-onethird {
//     float: left;
//     width: 28%;
//     margin-right: 8%;
//     margin-bottom:0;
// }

// .column-onethird:last-child {
//     float: left;
//     width: 28%;
//     margin-right: 0;
//     margin-bottom:0;
// }

// .column-onefourth:last-child {
//   float: left;
//   width: 21%;
//   margin-right:0;
// }

// .column-onefourth {
//   float: left;
//   width: 21%;
//   margin-right: 5%;
// }

// }


// /* 2. Fonts
// –––––––––––––––––––––––––––––––––––––––––––––––––– */
// a {
//   font-size: 1.4rem;
//   line-height: 2.6rem;
//   letter-spacing: .15rem;
//   font-family: 'Conv_Geomanist-Bold', Helvetica, sans-serif;
//   color:#2b2b2d;
//   text-decoration: none;
//   -webkit-transition:color .3s ease-in-out;
//   -moz-transition:color .3s ease-in-out;
//   -o-transition:color .3s ease-in-out;
//   -ms-transition:color .3s ease-in-out;
//   transition:color .3s ease-in-out;
// }

// a:hover {
//   color:#fd9b56;
// }

// @media (min-width: 50px) {

// h1, h2, h3, h4, h5, h6 {
//   margin-top: 0;
//   margin-bottom: 2rem;
//   font-weight: 300; }

// h1 {
//   font-size: 7.2rem;
//   line-height: 7rem;
//   color:#00b1dc;
//   font-family: 'Barlow Condensed', sans-serif;
//   font-weight: 600;
//   margin-bottom: .5rem;
// }

// p {
//   font-family: 'Open Sans', sans-serif;
//   font-size: 2.5rem;
//   line-height: 3.4rem;
//   color: #ffffff;
//   letter-spacing: .1rem;
//   font-weight: 400;
// }
// }

// @media (min-width: 900px) {

// h1, h2, h3, h4, h5, h6 {
//   margin-top: 0;
//   margin-bottom: 2rem;
//   font-weight: 300; }

// h1 {
//   font-size: 7.2rem;
//   line-height: 7rem;
//   color:#00b1dc;
//   font-family: 'Barlow Condensed', sans-serif;
//   font-weight: 600;
//   margin-bottom: .5rem;
// }

// p {
//   font-family: 'Open Sans', sans-serif;
//   font-size: 2.5rem;
//   line-height: 3.4rem;
//   color: #6e6e72;
//   letter-spacing: .1rem;
//   font-weight: 300;
// }
// }


// /* 4. Index
// –––––––––––––––––––––––––––––––––––––––––––––––––– */
// @media (min-width: 50px) {

//   #nav {
//     position: absolute;
//     z-index: 11;
//     padding-top: 42px;
//   }

//   #bannercontent {
//     padding-bottom: 40px;
//     margin-top: 10%;
//   }

//   .banneroverlay {
//     position: relative;
//     height: 100%;
//     background:url(images/overlay-mobile.png);
//     background-size:cover;
//     z-index:10;
//     background-position: top;
//     width: 100%;
//   }

//   .bannervideo {
//     position: fixed;
//     right: 0;
//     bottom: 0;
//     min-width: 100%; 
//     min-height: 100%;
//   }

//   #mc_embed_signup input.email {
//     float: left;
//     height: 57px;
//     border-radius: 100px;
//     width: 92%;
//     padding: 0px 4%;
//     border: 0;
//     -webkit-box-shadow: 0px 0px 35px 0px rgba(13,24,43,0.15);
//     -moz-box-shadow: 0px 0px 35px 0px rgba(13,24,43,0.15);
//     box-shadow: 0px 0px 35px 0px rgba(13,24,43,0.15);
//     border:solid #ffffff 2px;
//     font-family: 'Open Sans', sans-serif;
//     font-size: 1.5rem;
//     color: #6e6e72;
//     letter-spacing: .1rem;
//   }

// #mc_embed_signup input.email:focus {
//     border: solid #eb420a 2px;
//   }

//   #mc_embed_signup input.button {
//     background: #eb420a;
//     background: -moz-linear-gradient(left, #eb420a 0%, #face18 100%);
//     background: -webkit-linear-gradient(left, #eb420a 0%,#face18 100%);
//     background: linear-gradient(to right, #eb420a 0%,#face18 100%);
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb420a', endColorstr='#face18',GradientType=1 );
//     float: left;
//     margin-left: 0%;
//     width: 100%;
//     -webkit-box-shadow: 0px 0px 24px 4px rgba(241,89,12,0.5);
//     -moz-box-shadow: 0px 0px 24px 4px rgba(241,89,12,0.5);
//     box-shadow: 0px 0px 24px 4px rgba(241,89,12,0.5);
//     color: white;
//     text-transform: uppercase;
//     border:none;
//     height: 61px;
//     font-family: 'Barlow Condensed', sans-serif;
//     font-weight: 600;
//     font-size: 2rem;
//     margin-top:10px;
//     border-radius: 100px;
//   }

//   #mc_embed_signup input.button:hover {
//     background:#eb420a;
//   }

//   textarea, input, button {
//     outline: none;
//   }

//   #myVideo {
//     height: 100%;
//   }

//   #mc_embed_signup {
//       clear: left;
//       margin-top: 30px;
//   }

//   #bannersocial {
//     margin-top: 210px;
//   }

//   #bannersocial img {
//     float: right;
//     margin-left: 10px;
//   }

//   .footer img:hover {
//     opacity: .8;
//   }


//   .footer {
//     display: inline-block;
//     margin-top: 80px;
//     width: 100%;
//   }

//   .social {
//     width: 120px;
//     float: left;

//     a {
//       margin-right: 10px; 
//     }
//   }

//   .catamaran {
//     float:right;
//     width: 116px;
//   }


//   label {
//     font-family: 'Barlow Condensed', sans-serif;
//       font-weight: 600;
//       font-size: 2rem;
//       color: #c5c5cc;
//       text-transform: uppercase;
//       padding-bottom: 10px;
//       display: block;
//   }
// }

// @media (min-width: 900px) {

//   #nav {
//     position: absolute;
//     z-index: 11;
//     padding-top: 42px;
//   }

//   #bannercontent {
//     padding-bottom: 40px;
//     margin-top: 10%;
//   }

//   .banneroverlay {
//     position: absolute;
//     background:url(../../images/overlay2.png);
//     background-size:cover;
//     z-index:10;
//     background-position: top;
//     height: 100%;
//     width: 100%;
//   }

//   .bannervideo {
//     position: fixed;
//     right: 0;
//     bottom: 0;
//     min-width: 100%; 
//     min-height: 100%;
//   }

//   #mc_embed_signup input.email {
//     float: left;
//     height: 57px;
//     border-radius: 100px;
//     width: 53%;
//     padding: 0px 4%;
//     border: 0;
//     -webkit-box-shadow: 0px 0px 35px 0px rgba(13,24,43,0.15);
//     -moz-box-shadow: 0px 0px 35px 0px rgba(13,24,43,0.15);
//     box-shadow: 0px 0px 35px 0px rgba(13,24,43,0.15);
//     border:solid #ffffff 2px;
//     font-family: 'Open Sans', sans-serif;
//     font-size: 1.5rem;
//     color: #6e6e72;
//     letter-spacing: .1rem;
//   }

//   #mc_embed_signup input.email:focus {
//     border: solid #eb420a 2px;
//   }

//   #mc_embed_signup input.button {
//     background: #eb420a;
//     background: -moz-linear-gradient(left, #eb420a 0%, #face18 100%);
//     background: -webkit-linear-gradient(left, #eb420a 0%,#face18 100%);
//     background: linear-gradient(to right, #eb420a 0%,#face18 100%);
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb420a', endColorstr='#face18',GradientType=1 );
//     float: left;
//     margin-left: 2%;
//     width: 36%;
//     -webkit-box-shadow: 0px 0px 24px 4px rgba(241,89,12,0.5);
//     -moz-box-shadow: 0px 0px 24px 4px rgba(241,89,12,0.5);
//     box-shadow: 0px 0px 24px 4px rgba(241,89,12,0.5);
//     color: white;
//     text-transform: uppercase;
//     border:none;
//     height: 61px;
//     font-family: 'Barlow Condensed', sans-serif;
//     font-weight: 600;
//     font-size: 2rem;
//     margin-top:0;
//     border-radius: 100px;
//   }

//   #mc_embed_signup input.button:hover {
//     background:#eb420a;
//   }

//   textarea, input, button {
//     outline: none;
//   }

//   #myVideo {
//     height: 100%;
//   }

//   #mc_embed_signup {
//       clear: left;
//       margin-top: 30px;
//   }

//   #bannersocial {
//     margin-top: 210px;
//   }

//   #bannersocial img {
//     float: right;
//     margin-left: 10px;
//   }

//   .footer img:hover {
//     opacity: .8;
//   }


//   .footer {
//     display: inline-block;
//     margin-top: 80px;
//     width: 100%;
//   }

//   .social {
//     width: 120px;
//     float: left;
//   }

//   .catamaran {
//     float:right;
//     width: 116px;
//   }


//   label {
//     font-family: 'Barlow Condensed', sans-serif;
//       font-weight: 600;
//       font-size: 2rem;
//       color: #c5c5cc;
//       text-transform: uppercase;
//       padding-bottom: 10px;
//       display: block;
//   }
// }








