/* ==========================================================================
   #SETTINGS - COLORS
   ========================================================================== */

/**
  * This file contains all of the maps and variables associated with
  * colors and elements for which colors are applied.
*/
