/* ==========================================================================
   #SETTINGS - ICONS
   ========================================================================== */

/**
  * This file contains all of the maps and variables associated with
  * icons used throughout the application.
*/

