/* ==========================================================================
   #TOOLS - FUNCTIONS
   ========================================================================== */

/**
  * This file contains all of the functions that are used throughout
  * the application. Functions are utility methods that perform some logic
  * and return a value to be used by the CSS.
*/

// Font
// ----

