/* ==========================================================================
   #TOOLS - MIXINS
   ========================================================================== */

/**
  * This file contains all of the mixins that are used throughout
  * the application. Mixins will write out CSS attributes and allow
  * logic to be performed prior to rendering the attribute.
*/

