/**
 * CONTENT
 *
 * BUTTON
 * Styles for the button component
 *
 * FOOTER
 * Styles for the footer component at the bottom of the page
 *
 * HEADER
 * Styles for the header component at the top of the page
 *
 */

@import "footer",
        "header",
        "button";
